* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  list-style: none;
  box-sizing: border-box;
}

/* dark mode buttons */

.container-btn-mode{
  position: absolute;
  top:20px;
  right: 30px;
  cursor: pointer;
  z-index: 2;
  font-size:0;
}
.btn-mode{
  display: inline-block;
  width: 50px;
  height: 30px;
  border:2px solid black;
  transition: background-color .5s;
}
.btn-mode i {
  display: block;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}
.btn-mode.sun{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid transparent;
}
.btn-mode.moon{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.active{
  background-color:black;
  color:#ffcd5c !important;
}

/* dark mode style */

.dark-mode{
  background-color: #0e0e0e;
  transition:background-color .5s;
}
.dark-mode .card{
  background-color: #1A1C1E;
}
.dark-mode h1, .dark-mode h2, .dark-mode .btn-contact{
  color:white;
}
.dark-mode .btn-mode{
  background-color:#1A1C1E;
  border:1px solid white;
  color:white;
}

/* header */
a {
  text-decoration: none;
  color: #ffffff;
}

.header {
  height: 100px;
  background: #306bb3;
  border: 1px solid #306bb3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  margin-left: 2%;
}

.menu-container {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ffffff;
  opacity: 0.9;
}

.container-btn-mode {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;

  letter-spacing: -0.03em;
  cursor: pointer;
  color: #306bb3;
  width: 82px;
  border-radius: 4px;
}

/* content  */

h1 {
  font-size: 3vw;
  font-weight: 500;
  color: #486284;
  margin-bottom: 2%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.subtitle {
  max-width: 35%;
  text-align: center;
}

.filter {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.filter-option {
  color: #1a202c99;
  font-size: 1.5vw;
  margin: 2% 0px;
  width: 100%;
  padding-bottom: 1%;
  margin-bottom: 1%;
  border-bottom: 2px #90a3bf;
  text-align: center;
}

.filter-option:hover {
  color: #1a202c;
  font-weight: bold;
  border-bottom: 2px #1a202c;
}

/* cards */

.cardsContainer {
    /* display: flex;
    flex-wrap:  wrap; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    margin: 5% auto;
  }

.pokeCard {
  /* background-color: white;
  width: 80%;
  align-self: center;
  border-radius: 4px;
  padding: 7% 10%; */
  background-color: #dee5ed;
    padding: 4%;
    border: none;
    border-radius: 10px;
    margin: 5% 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buy-button {
  color: white;
  background-color: #306bb3;
  font-weight: 600;
  padding: 5% 10%;
  border: none;
  border-radius: 4px;
  margin: 0;
}
.more-cards-info {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  width: 50%;
  align-items: center;
  margin-right: 7vw;
}

.more-button {
  color: white;
  background-color: #306bb3;
  width: 12vw;
  font-weight: 600;
  padding: 2% 2%;
  border-radius: 4px;
  margin: 4% 0;
}

/* img */ 

.imgPoke {
  background-color: white;
  padding: 8%;
  border: none;
  width: 80%;
  height: 80%;
  border-radius: 4px;
  margin: 10%;
}

/* fotter */

.footer {
  height: 383px;
  background: #306bb3;
  border: 1px solid #306bb3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
}

.vision-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  height: 65%;
}

.vision {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #ffffff;
  height: 70%;
}

.sections-footer {
  color: #ffffff;
  mix-blend-mode: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65%;
}
