* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  list-style: none;
  box-sizing: border-box;
}

/* header */
a {
  text-decoration: none;
  color: #ffffff;
}

.header {
  height: 100px;
  background: #306bb3;
  border: 1px solid #306bb3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  margin-left: 2%;
}

.menu-container {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ffffff;
  opacity: 0.9;
}

.mode-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;

  letter-spacing: -0.03em;

  color: #306bb3;
  width: 82px;
  border-radius: 4px;
}

/* body */

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;
}

.main-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-text {
  font-size: 16px;
  padding: 20px 0;
  font-weight: bold;
  color: #1a202c; 
}
.title {
  font-weight: bold;
  padding: 20px 0;
  text-transform: uppercase;
  color: #1a202c;
  width: 90%;
}

.main-text {
  letter-spacing: -0.02em;
  color: #1a202c;
  opacity: 0.8;
  width: 35em;
  padding: 30px 0;
}

.main-button {
  flex-direction: row;
  justify-content: center;
  padding: 0px 20px;
  gap: 8px;
  height: 48.39px;
  background: #ffffff;
  border-radius: 4px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #1a202c;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.main-img {
  width: 638px;
  height: 508px;
  background: url(ash-leaves-anime.jpg);
  border-radius: 100px 0px 0px 0px;
}

/* fotter */

.footer {
  height: 383px;
  background: #306bb3;
  border: 1px solid #306bb3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
}

.vision-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  height: 65%;
}

.vision {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #ffffff;
  height: 70%;
}

.sections-footer {
  color: #ffffff;
  mix-blend-mode: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65%;
}
